<tui-root>
  <ng-component [formGroup]="group">
    <tui-combo-box
      *tuiLet="service.request(search) | async as filtered"
      [(search)]="search"
      [valueContent]="value"
      class="b-form"
      formControlName="control"
      tuiTextfieldExampleText="Type a name"
    >
      Find the best employees
      <ng-template #value let-item>
        <span class="name"> {{item}} </span>
      </ng-template>
      <ng-template tuiDataList>
        <tui-data-list *ngIf="filtered; else loading">
          <button
            *ngFor="let item of filtered"
            [disabled]="item.disabled"
            [value]="item"
            tuiOption
          >
            <span class="name"> {{item}} </span>
          </button>
        </tui-data-list>
        <ng-template #loading>
          <tui-loader class="tui-space_vertical-4"></tui-loader>
        </ng-template>
      </ng-template>
    </tui-combo-box>
  </ng-component>
</tui-root>
